# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Local uploads & temporary data
temp_uploads/
uploads/
*.pdf
*.csv
*.json

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
